In [1]:
import pandas as pd

# Openmeteo Forecasts

In [2]:
df = pd.read_parquet("data/staging/openmeteo_forecasts/multi_model_forecasts--2025-12-07T20_48_49.017353_06_00.parquet")

In [3]:
df

,forecast_date,temperature_2m,city,model_timestamp,current_timestamp,model_name,model_id
0,2025-12-07 18:00:00-06:00,54.633202,Austin,2025-12-07 20:45:00-06:00,2025-12-07 20:48:48.936755-06:00,best_match,1
1,2025-12-07 19:00:00-06:00,51.663200,Austin,2025-12-07 20:45:00-06:00,2025-12-07 20:48:48.936755-06:00,best_match,1
2,2025-12-07 20:00:00-06:00,50.853199,Austin,2025-12-07 20:45:00-06:00,2025-12-07 20:48:48.936755-06:00,best_match,1
3,2025-12-07 21:00:00-06:00,50.403198,Austin,2025-12-07 20:45:00-06:00,2025-12-07 20:48:48.936755-06:00,best_match,1
4,2025-12-07 22:00:00-06:00,49.143200,Austin,2025-12-07 20:45:00-06:00,2025-12-07 20:48:48.936755-06:00,best_match,1
...,...,...,...,...,...,...,...
67,2025-12-10 13:00:00-06:00,35.893402,Philadelphia,2025-12-07 20:45:00-06:00,2025-12-07 20:48:49.017353-06:00,ukmo_global_deterministic_10km,80
68,2025-12-10 14:00:00-06:00,37.243401,Philadelphia,2025-12-07 20:45:00-06:00,2025-12-07 20:48:49.017353-06:00,ukmo_global_deterministic_10km,80
69,2025-12-10 15:00:00-06:00,38.413399,Philadelphia,2025-12-07 20:45:00-06:00,2025-12-07 20:48:49.017353-06:00,ukmo_global_deterministic_10km,80
70,2025-12-10 16:00:00-06:00,39.133400,Philadelphia,2025-12-07 20:45:00-06:00,2025-12-07 20:48:49.017353-06:00,ukmo_global_deterministic_10km,80
71,2025-12-10 17:00:00-06:00,39.583401,Philadelphia,2025-12-07 20:45:00-06:00,2025-12-07 20:48:49.017353-06:00,ukmo_global_deterministic_10km,80

In [4]:
del df

# Accuweather Forecasts

In [6]:
df = pd.read_parquet(
    "data/staging/accuweather_forecasts/accuweather_12h_new_york_20251208_031733.parquet"
)

In [7]:
df.head()

,datetime,EpochDateTime,WeatherIcon,phrase,has_precip,IsDaylight,rh,IndoorRelativeHumidity,uv_index,UVIndexFloat,...,city,model_timestamp,model_name,model_id,latitude,longitude,series_id,nws_id,tz_convert,weather_id
0,2025-12-07 23:00:00-05:00,1765166400,34,Mostly clear,False,False,59,34,0,0.0,...,New York,2025-12-08 03:17:33.229122+00:00,accuweather_12h,1001,40.7826,-73.9656,KXHIGHNY,NYC,America/New_York,98e8083bb7de0fc467fd1e22a1692f8f200343e4e0acc3...
1,2025-12-08 00:00:00-05:00,1765170000,34,Mostly clear,False,False,60,35,0,0.0,...,New York,2025-12-08 03:17:33.229122+00:00,accuweather_12h,1001,40.7826,-73.9656,KXHIGHNY,NYC,America/New_York,98e8083bb7de0fc467fd1e22a1692f8f200343e4e0acc3...
2,2025-12-08 01:00:00-05:00,1765173600,34,Mostly clear,False,False,60,34,0,0.0,...,New York,2025-12-08 03:17:33.229122+00:00,accuweather_12h,1001,40.7826,-73.9656,KXHIGHNY,NYC,America/New_York,98e8083bb7de0fc467fd1e22a1692f8f200343e4e0acc3...
3,2025-12-08 02:00:00-05:00,1765177200,34,Mostly clear,False,False,56,32,0,0.0,...,New York,2025-12-08 03:17:33.229122+00:00,accuweather_12h,1001,40.7826,-73.9656,KXHIGHNY,NYC,America/New_York,98e8083bb7de0fc467fd1e22a1692f8f200343e4e0acc3...
4,2025-12-08 03:00:00-05:00,1765180800,34,Mostly clear,False,False,52,30,0,0.0,...,New York,2025-12-08 03:17:33.229122+00:00,accuweather_12h,1001,40.7826,-73.9656,KXHIGHNY,NYC,America/New_York,98e8083bb7de0fc467fd1e22a1692f8f200343e4e0acc3...

In [8]:
del df

# NWS Observations

In [9]:
df = pd.read_parquet(
    "data/staging/nws_observations/nws_observations--2025-12-07T21_50_14.035655_06_00.parquet"
)

In [10]:
df

,date,time,wind,weather,air,6_hour_max,timestamp,city
0,07,20:53,N 10,Fair,50,None,2025-12-07 21:50:13.082898-06:00,Austin
1,07,19:53,N 13,A Few Clouds,50,None,2025-12-07 21:50:13.082898-06:00,Austin
2,07,18:53,N 9,A Few Clouds,46.9,None,2025-12-07 21:50:13.082898-06:00,Austin
3,07,17:53,N 12,A Few Clouds,54,73,2025-12-07 21:50:13.082898-06:00,Austin
4,07,16:53,N 16,A Few Clouds,57,None,2025-12-07 21:50:13.082898-06:00,Austin
...,...,...,...,...,...,...,...,...
570,05,02:54,N 9,Overcast,27,None,2025-12-07 21:50:14.035655-06:00,Philadelphia
571,05,01:54,N 13,Overcast,27,None,2025-12-07 21:50:14.035655-06:00,Philadelphia
572,05,00:54,N 15 G 23,Overcast,28,37.9,2025-12-07 21:50:14.035655-06:00,Philadelphia
573,04,23:54,N 16 G 25,Overcast,28.9,None,2025-12-07 21:50:14.035655-06:00,Philadelphia
574,04,22:54,N 15 G 24,Overcast,30.9,None,2025-12-07 21:50:14.035655-06:00,Philadelphia

In [11]:
del df